<!-- <nav class="navbar">
  <div class="navbar-content">
  
    <div class="navbar-brand">
      <div class="logo-container">
       
      </div>
    </div>

  
    <div class="navbar-user">
      <div class="user-avatar">
        <mat-icon class="avatar-icon">account_circle</mat-icon>
      </div>
      <button class="user-toggle" (click)="toggleMenu()">
        <mat-icon>{{dropdownOpen ? 'expand_less' : 'expand_more'}}</mat-icon>
      </button>
      
      <div class="user-dropdown" *ngIf="dropdownOpen" @fadeIn>
        <a class="dropdown-item" routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </a>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </div>
    </div>
  </div>
</nav> -->