<!-- <div class="timeline" *ngIf="historique?.length">
  <div *ngFor="let h of historique" class="timeline-item">
    <div class="timeline-status">{{ h.nouveauStatut }}</div>
    <small class="timeline-date">{{ h.dateChangement | date:'short' }}</small>
    <p class="timeline-old">Ancien statut : {{ h.ancienStatut }}</p>
    <p *ngIf="h.changedBy">Modifié par : {{ h.changedBy }}</p>
    <p *ngIf="h.commentaire">Commentaire : {{ h.commentaire }}</p>
  </div>
</div>
<div *ngIf="!historique?.length">Aucun changement enregistré.</div> -->